# Ignore git data
.git
.gitignore

# Ignore local virtual environments (CRITICAL to save space)
.venv
venv
env

# Ignore cache
__pycache__
*.pyc

# Do NOT ignore model_assets (if you are building locally)
# model_assets/